{
    "code": 0,
    "data": {
      "keyword": "Sunny",
      "priority": 0,
      "qc": [],
      "semantic": {
        "curnum": 0,
        "curpage": 1,
        "list": [],
        "totalnum": 0
      },
      "song": {
        "curnum": 20,
        "curpage": 1,
        "list": [
          {
            "albumid": 1478808,
            "albummid": "001VPxvJ0YaVwh",
            "albumname": "That's All I Wanna Know",
            "albumname_hilight": "That's All I Wanna Know",
            "alertid": 100002,
            "chinesesinger": 0,
            "docid": "12826350019158473412",
            "grp": [],
            "interval": 223,
            "isonly": 1,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 14,
            "nt": 892608729,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 1,
              "payinfo": 1,
              "payplay": 0,
              "paytrackmouth": 1,
              "paytrackprice": 200
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 1131033600,
            "pure": 0,
            "singer": [
              {
                "id": 18750,
                "mid": "002ccnBn0GXtMZ",
                "name": "Bobby Hebb",
                "name_hilight": "Bobby Hebb"
              }
            ],
            "size128": 3572549,
            "size320": 8930995,
            "sizeape": 0,
            "sizeflac": 0,
            "sizeogg": 5635020,
            "songid": 107345779,
            "songmid": "000zkPrb2O7BBW",
            "songname": "Sunny",
            "songname_hilight": "<span class=\"c_tx_highlight\">Sunny</span>",
            "stream": 8,
            "switch": 636675,
            "t": 1,
            "tag": 10,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 1032181,
            "albummid": "001ipr2927MKCB",
            "albumname": "The Complete Boney M.",
            "albumname_hilight": "The Complete Boney M.",
            "alertid": 100002,
            "chinesesinger": 0,
            "docid": "13564963048353036013",
            "grp": [],
            "interval": 241,
            "isonly": 1,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 14,
            "nt": 2702708160,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 1,
              "payinfo": 1,
              "payplay": 0,
              "paytrackmouth": 1,
              "paytrackprice": 200
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 1226246400,
            "pure": 0,
            "singer": [
              {
                "id": 14190,
                "mid": "003id60o21pS36",
                "name": "Boney M",
                "name_hilight": "Boney M"
              }
            ],
            "size128": 3871408,
            "size320": 9678115,
            "sizeape": 29265020,
            "sizeflac": 29452179,
            "sizeogg": 6013991,
            "songid": 102786427,
            "songmid": "001NS6mJ3SJeCM",
            "songname": "Sunny",
            "songname_hilight": "<span class=\"c_tx_highlight\">Sunny</span>",
            "stream": 1,
            "switch": 636675,
            "t": 1,
            "tag": 10,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 66064,
            "albummid": "001sSRy33z3xnA",
            "albumname": "The 1st Asia Tour Into The New World Album",
            "albumname_hilight": "The 1st Asia Tour Into The New World Album",
            "alertid": 100002,
            "chinesesinger": 0,
            "docid": "1750967674266769606",
            "grp": [],
            "interval": 187,
            "isonly": 0,
            "lyric": "旋转",
            "lyric_hilight": "旋转",
            "msgid": 14,
            "nt": 3240326540,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 1,
              "payinfo": 1,
              "payplay": 0,
              "paytrackmouth": 1,
              "paytrackprice": 200
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 1293638400,
            "pure": 0,
            "singer": [
              {
                "id": 11809,
                "mid": "003lf9Ia28XvH1",
                "name": "&#49548;&#45376;&#49884;&#45824;",
                "name_hilight": "&#49548;&#45376;&#49884;&#45824;"
              }
            ],
            "size128": 3012275,
            "size320": 0,
            "sizeape": 0,
            "sizeflac": 0,
            "sizeogg": 0,
            "songid": 783354,
            "songmid": "001JDoGv0NiN5t",
            "songname": "Sunny",
            "songname_hilight": "<span class=\"c_tx_highlight\">Sunny</span>",
            "stream": 4,
            "switch": 636675,
            "t": 1,
            "tag": 10,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 1246641,
            "albummid": "00336ilH0NQVZH",
            "albumname": "Sunny",
            "albumname_hilight": "<span class=\"c_tx_highlight\">Sunny</span>",
            "alertid": 2,
            "chinesesinger": 0,
            "docid": "6377465315672966711",
            "grp": [],
            "interval": 290,
            "isonly": 1,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 14,
            "nt": 101352283,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 1,
              "payinfo": 1,
              "payplay": 0,
              "paytrackmouth": 1,
              "paytrackprice": 200
            },
            "preview": {
              "trybegin": 89404,
              "tryend": 118452,
              "trysize": 465605
            },
            "pubtime": 1450195200,
            "pure": 0,
            "singer": [
              {
                "id": 4734,
                "mid": "001xY0Nb0ZgaBz",
                "name": "李泉",
                "name_hilight": "李泉"
              },
              {
                "id": 17916,
                "mid": "002VtDrK2kzcGl",
                "name": "B6",
                "name_hilight": "B6"
              }
            ],
            "size128": 4655011,
            "size320": 11637228,
            "sizeape": 36905344,
            "sizeflac": 37078944,
            "sizeogg": 7273525,
            "songid": 105305472,
            "songmid": "002X5GdN4OuxpW",
            "songname": "Sunny",
            "songname_hilight": "<span class=\"c_tx_highlight\">Sunny</span>",
            "stream": 1,
            "switch": 636675,
            "t": 1,
            "tag": 12,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 104797,
            "albummid": "004WBGRC29imiH",
            "albumname": "Best Audiophile Voices IV",
            "albumname_hilight": "Best Audiophile Voices IV",
            "alertid": 11,
            "chinesesinger": 0,
            "docid": "10680577137388765125",
            "format": "qqhq;common;mp3common;wmacommon;crcommon",
            "grp": [],
            "interval": 203,
            "isonly": 0,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 0,
            "nt": 2436731799,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 0,
              "payinfo": 0,
              "payplay": 0,
              "paytrackmouth": 0,
              "paytrackprice": 0
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 1104508800,
            "pure": 0,
            "singer": [
              {
                "id": 11664,
                "mid": "003UkUAy0MJo3x",
                "name": "Noon",
                "name_hilight": "Noon"
              }
            ],
            "size128": 3261579,
            "size320": 8153582,
            "sizeape": 23165584,
            "sizeflac": 23273084,
            "sizeogg": 4725620,
            "songid": 4950036,
            "songmid": "002MRqi63lDmef",
            "songname": "Sunny",
            "songname_hilight": "<span class=\"c_tx_highlight\">Sunny</span>",
            "songurl": "http://y.qq.com/#type=song&id=4950036",
            "stream": 7,
            "switch": 3225399,
            "t": 0,
            "tag": 10,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 440884,
            "albummid": "002TWF9Y34lSFc",
            "albumname": "Essential - Easy Listening",
            "albumname_hilight": "Essential - Easy Listening",
            "alertid": 100002,
            "chinesesinger": 0,
            "docid": "30740642916416380",
            "grp": [],
            "interval": 211,
            "isonly": 1,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 14,
            "nt": 2769073160,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 1,
              "payinfo": 1,
              "payplay": 0,
              "paytrackmouth": 1,
              "paytrackprice": 200
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 1264348800,
            "pure": 0,
            "singer": [
              {
                "id": 6658,
                "mid": "002BUZcl2OSALk",
                "name": "Various Artists",
                "name_hilight": "Various Artists"
              }
            ],
            "size128": 3386139,
            "size320": 8486285,
            "sizeape": 0,
            "sizeflac": 0,
            "sizeogg": 4861558,
            "songid": 5087007,
            "songmid": "000JOvn01LHx4N",
            "songname": "Sunny",
            "songname_hilight": "<span class=\"c_tx_highlight\">Sunny</span>",
            "stream": 4,
            "switch": 636675,
            "t": 1,
            "tag": 10,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 434467,
            "albummid": "000tAmT52wwOUF",
            "albumname": "America - Das Party Album",
            "albumname_hilight": "America - Das Party Album",
            "alertid": 100002,
            "chinesesinger": 0,
            "docid": "6090955743589741525",
            "grp": [],
            "interval": 240,
            "isonly": 1,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 14,
            "nt": 3716202120,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 1,
              "payinfo": 1,
              "payplay": 0,
              "paytrackmouth": 1,
              "paytrackprice": 200
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 1251648000,
            "pure": 0,
            "singer": [
              {
                "id": 14910,
                "mid": "001yN1Lg48b7Lz",
                "name": "Xy",
                "name_hilight": "Xy"
              }
            ],
            "size128": 3845058,
            "size320": 9613418,
            "sizeape": 29265005,
            "sizeflac": 29452179,
            "sizeogg": 6097731,
            "songid": 4989411,
            "songmid": "000WZQeA1nEoLG",
            "songname": "Sunny",
            "songname_hilight": "<span class=\"c_tx_highlight\">Sunny</span>",
            "stream": 7,
            "switch": 636675,
            "t": 1,
            "tag": 10,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 1662469,
            "albummid": "003EVBxL1MTkA6",
            "albumname": "Jazz Love",
            "albumname_hilight": "Jazz Love",
            "alertid": 100002,
            "chinesesinger": 0,
            "docid": "14009925812915990111",
            "grp": [],
            "interval": 236,
            "isonly": 1,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 14,
            "nt": 2220174426,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 1,
              "payinfo": 1,
              "payplay": 0,
              "paytrackmouth": 1,
              "paytrackprice": 200
            },
            "preview": {
              "trybegin": 17165,
              "tryend": 215430,
              "trysize": 3173145
            },
            "pubtime": 1476979200,
            "pure": 0,
            "singer": [
              {
                "id": 8377,
                "mid": "0044rPHr1Dx6YC",
                "name": "Laura Fygi",
                "name_hilight": "Laura Fygi"
              }
            ],
            "size128": 3784844,
            "size320": 9461775,
            "sizeape": 0,
            "sizeflac": 0,
            "sizeogg": 5524175,
            "songid": 108999680,
            "songmid": "004CmKym4JE3Cz",
            "songname": "Sunny",
            "songname_hilight": "<span class=\"c_tx_highlight\">Sunny</span>",
            "stream": 9,
            "switch": 636675,
            "t": 1,
            "tag": 10,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 585585,
            "albummid": "002mhZCx3SV5WU",
            "albumname": "中国新声代第二季 第1期",
            "albumname_hilight": "中国新声代第二季 第1期",
            "alertid": 11,
            "chinesesinger": 0,
            "docid": "4250781153589239788",
            "format": "qqhq;common;mp3common;wmacommon;crcommon",
            "grp": [],
            "interval": 212,
            "isonly": 0,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 0,
            "nt": 1802343688,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 0,
              "payinfo": 0,
              "payplay": 0,
              "paytrackmouth": 0,
              "paytrackprice": 0
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 1401465600,
            "pure": 0,
            "singer": [
              {
                "id": 192191,
                "mid": "004ZPY3P2F9i4h",
                "name": "牛欣欣",
                "name_hilight": "牛欣欣",
                "transname": "Sunny / ",
                "transname_hilight": "<span class=\"c_tx_highlight\">Sunny</span> / "
              }
            ],
            "size128": 3395296,
            "size320": 8487620,
            "sizeape": 21884843,
            "sizeflac": 22325698,
            "sizeogg": 4667538,
            "songid": 6314032,
            "songmid": "0036wbYv1ia0rU",
            "songname": "灯塔 (Live)",
            "songname_hilight": "灯塔 (Live)",
            "songurl": "http://y.qq.com/#type=song&id=6314032",
            "stream": 5,
            "switch": 3225399,
            "t": 0,
            "tag": 10,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 656620,
            "albummid": "003scyi02fkcOI",
            "albumname": "中国新声代第二季 第12期",
            "albumname_hilight": "中国新声代第二季 第12期",
            "alertid": 11,
            "chinesesinger": 0,
            "docid": "12738845684770268527",
            "grp": [],
            "interval": 182,
            "isonly": 0,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 0,
            "nt": 2872195356,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 0,
              "payinfo": 0,
              "payplay": 0,
              "paytrackmouth": 0,
              "paytrackprice": 0
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 1408118400,
            "pure": 0,
            "singer": [
              {
                "id": 192191,
                "mid": "004ZPY3P2F9i4h",
                "name": "牛欣欣",
                "name_hilight": "牛欣欣",
                "transname": "Sunny / ",
                "transname_hilight": "<span class=\"c_tx_highlight\">Sunny</span> / "
              }
            ],
            "size128": 2913813,
            "size320": 7283805,
            "sizeape": 18623710,
            "sizeflac": 19066330,
            "sizeogg": 4063824,
            "songid": 7198899,
            "songmid": "001ZSZvX2mCLMZ",
            "songname": "蝴蝶泉边 (Live)",
            "songname_hilight": "蝴蝶泉边 (Live)",
            "stream": 10,
            "switch": 3749687,
            "t": 1,
            "tag": 12,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 141585,
            "albummid": "004PDbgl0Tnk1K",
            "albumname": "&#50500;&#47492;&#45796;&#50868; &#44536;&#45824;&#50640;&#44172; OST '&#45208;&#50556; (It's Me)'",
            "albumname_hilight": "&#50500;&#47492;&#45796;&#50868; &#44536;&#45824;&#50640;&#44172; OST '&#45208;&#50556; (It's Me)'",
            "alertid": 100002,
            "chinesesinger": 0,
            "docid": "7500135889320456668",
            "grp": [],
            "interval": 222,
            "isonly": 0,
            "lyric": "《致美丽的你》韩剧插曲",
            "lyric_hilight": "《致美丽的你》韩剧插曲",
            "msgid": 14,
            "nt": 4119489975,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 1,
              "payinfo": 1,
              "payplay": 0,
              "paytrackmouth": 1,
              "paytrackprice": 200
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 1345564800,
            "pure": 0,
            "singer": [
              {
                "id": 57801,
                "mid": "0045rCym392aID",
                "name": "&#50024;&#45768;;&#47336;&#45208;",
                "name_hilight": "&#50024;&#45768;;&#47336;&#45208;",
                "transname": "Sunny / ",
                "transname_hilight": "<span class=\"c_tx_highlight\">Sunny</span> / "
              }
            ],
            "size128": 3565924,
            "size320": 0,
            "sizeape": 0,
            "sizeflac": 0,
            "sizeogg": 0,
            "songid": 1801858,
            "songmid": "004LDGUI18aRLz",
            "songname": "&#45208;&#50556; (It's Me)",
            "songname_hilight": "&#45208;&#50556; (It's Me)",
            "stream": 5,
            "switch": 636675,
            "t": 1,
            "tag": 10,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 3825701,
            "albummid": "0036owaR45XIwQ",
            "albumname": "有梦的天空",
            "albumname_hilight": "有梦的天空",
            "alertid": 11,
            "chinesesinger": 0,
            "docid": "9963505521253570893",
            "grp": [],
            "interval": 261,
            "isonly": 0,
            "lyric": "中国IN童星主题曲",
            "lyric_hilight": "中国IN童星主题曲",
            "msgid": 0,
            "nt": 1024692069,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 0,
              "payinfo": 0,
              "payplay": 0,
              "paytrackmouth": 0,
              "paytrackprice": 0
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 1513612800,
            "pure": 0,
            "singer": [
              {
                "id": 192191,
                "mid": "004ZPY3P2F9i4h",
                "name": "牛欣欣",
                "name_hilight": "牛欣欣",
                "transname": "Sunny / ",
                "transname_hilight": "<span class=\"c_tx_highlight\">Sunny</span> / "
              },
              {
                "id": 368466,
                "mid": "0024fC1a2hjgHw",
                "name": "童星",
                "name_hilight": "童星"
              }
            ],
            "size128": 4186899,
            "size320": 10466685,
            "sizeape": 26467365,
            "sizeflac": 26494175,
            "sizeogg": 5773808,
            "songid": 212594081,
            "songmid": "004D5VWD33O6vH",
            "songname": "有梦的天空",
            "songname_hilight": "有梦的天空",
            "stream": 1,
            "switch": 3749687,
            "t": 1,
            "tag": 10,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 8623,
            "albummid": "001ZaCQY2OxVMg",
            "albumname": "",
            "albumname_hilight": "",
            "alertid": 11,
            "chinesesinger": 0,
            "docid": "15302768172495671055",
            "format": "qqnormal;common;mp3common;wmacommon;crcommon",
            "grp": [],
            "interval": 205,
            "isonly": 0,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 0,
            "nt": 3178557600,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 0,
              "payinfo": 0,
              "payplay": 0,
              "paytrackmouth": 0,
              "paytrackprice": 0
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 946656000,
            "pure": 0,
            "singer": [
              {
                "id": 192191,
                "mid": "004ZPY3P2F9i4h",
                "name": "牛欣欣",
                "name_hilight": "牛欣欣",
                "transname": "Sunny / ",
                "transname_hilight": "<span class=\"c_tx_highlight\">Sunny</span> / "
              }
            ],
            "size128": 3295816,
            "size320": 0,
            "sizeape": 0,
            "sizeflac": 0,
            "sizeogg": 0,
            "songid": 105751918,
            "songmid": "001Aaist2fp8l9",
            "songname": "莫斯科没有眼泪",
            "songname_hilight": "莫斯科没有眼泪",
            "songurl": "http://y.qq.com/#type=song&id=105751918",
            "stream": 3,
            "switch": 1128215,
            "t": 0,
            "tag": 12,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 8623,
            "albummid": "001ZaCQY2OxVMg",
            "albumname": "",
            "albumname_hilight": "",
            "alertid": 11,
            "chinesesinger": 0,
            "docid": "16188364310158128632",
            "format": "qqnormal;common;mp3common;wmacommon;crcommon",
            "grp": [],
            "interval": 293,
            "isonly": 0,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 0,
            "nt": 4197440696,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 0,
              "payinfo": 0,
              "payplay": 0,
              "paytrackmouth": 0,
              "paytrackprice": 0
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 946656000,
            "pure": 0,
            "singer": [
              {
                "id": 192191,
                "mid": "004ZPY3P2F9i4h",
                "name": "牛欣欣",
                "name_hilight": "牛欣欣",
                "transname": "Sunny / ",
                "transname_hilight": "<span class=\"c_tx_highlight\">Sunny</span> / "
              }
            ],
            "size128": 4694737,
            "size320": 0,
            "sizeape": 0,
            "sizeflac": 0,
            "sizeogg": 0,
            "songid": 102321284,
            "songmid": "000TaKWk1AQp7f",
            "songname": "没有什么不同",
            "songname_hilight": "没有什么不同",
            "songurl": "http://y.qq.com/#type=song&id=102321284",
            "stream": 1,
            "switch": 1128215,
            "t": 0,
            "tag": 12,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 986908,
            "albummid": "004W1UQ61aqHol",
            "albumname": "SUNNY",
            "albumname_hilight": "<span class=\"c_tx_highlight\">SUNNY</span>",
            "alertid": 11,
            "chinesesinger": 0,
            "docid": "11176656764662233511",
            "grp": [],
            "interval": 195,
            "isonly": 0,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 0,
            "nt": 1555555634,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 0,
              "payinfo": 0,
              "payplay": 0,
              "paytrackmouth": 0,
              "paytrackprice": 0
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 1431273600,
            "pure": 0,
            "singer": [
              {
                "id": 174604,
                "mid": "000pTSZm0WqfL3",
                "name": "&#48652;&#47004;&#45684;&#51649;",
                "name_hilight": "&#48652;&#47004;&#45684;&#51649;"
              }
            ],
            "size128": 3137405,
            "size320": 7843208,
            "sizeape": 0,
            "sizeflac": 0,
            "sizeogg": 3832497,
            "songid": 102390428,
            "songmid": "001stAmf3NJxIT",
            "songname": "SUNNY (Instrumental)",
            "songname_hilight": "<span class=\"c_tx_highlight\">SUNNY</span> (Instrumental)",
            "stream": 8,
            "switch": 3745591,
            "t": 1,
            "tag": 10,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 1900006,
            "albummid": "001ihpJL1tAV4I",
            "albumname": "Sunny (Karaoke Version) (In the Style of Cher)",
            "albumname_hilight": "<span class=\"c_tx_highlight\">Sunny</span> (Karaoke Version) (In the Style of Cher)",
            "alertid": 100002,
            "chinesesinger": 0,
            "docid": "13153417814115434665",
            "grp": [],
            "interval": 178,
            "isonly": 1,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 14,
            "nt": 3789409256,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 1,
              "payinfo": 1,
              "payplay": 0,
              "paytrackmouth": 1,
              "paytrackprice": 200
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 1369238400,
            "pure": 0,
            "singer": [
              {
                "id": 1070202,
                "mid": "003hbPMM3wijrH",
                "name": "The Karaoke Universe",
                "name_hilight": "The Karaoke Universe"
              }
            ],
            "size128": 2856731,
            "size320": 7141093,
            "sizeape": 21673935,
            "sizeflac": 21750295,
            "sizeogg": 4099360,
            "songid": 201109604,
            "songmid": "004XWS3I3SUOzQ",
            "songname": "Sunny (Karaoke Version)",
            "songname_hilight": "<span class=\"c_tx_highlight\">Sunny</span> (Karaoke Version)",
            "stream": 0,
            "switch": 636675,
            "t": 1,
            "tag": 10,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 1844230,
            "albummid": "001sMUNJ4SXYlD",
            "albumname": "Sunny",
            "albumname_hilight": "<span class=\"c_tx_highlight\">Sunny</span>",
            "alertid": 100002,
            "chinesesinger": 0,
            "docid": "13194656207853627943",
            "grp": [],
            "interval": 202,
            "isonly": 1,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 14,
            "nt": 3123615103,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 1,
              "payinfo": 1,
              "payplay": 0,
              "paytrackmouth": 1,
              "paytrackprice": 200
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 1494518400,
            "pure": 0,
            "singer": [
              {
                "id": 1369689,
                "mid": "004F37bq3XA1rj",
                "name": "Papa Ya",
                "name_hilight": "Papa Ya"
              }
            ],
            "size128": 3244827,
            "size320": 8111753,
            "sizeape": 0,
            "sizeflac": 0,
            "sizeogg": 5208488,
            "songid": 200667997,
            "songmid": "002zwclT1CQIjb",
            "songname": "Sunny",
            "songname_hilight": "<span class=\"c_tx_highlight\">Sunny</span>",
            "stream": 0,
            "switch": 636675,
            "t": 1,
            "tag": 10,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 202549,
            "albummid": "004ZENQs1Xvzlr",
            "albumname": "Sunny",
            "albumname_hilight": "<span class=\"c_tx_highlight\">Sunny</span>",
            "alertid": 100002,
            "chinesesinger": 0,
            "docid": "6798551132684378835",
            "grp": [],
            "interval": 355,
            "isonly": 1,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 14,
            "nt": 157597148,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 1,
              "payinfo": 1,
              "payplay": 0,
              "paytrackmouth": 1,
              "paytrackprice": 200
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 792604800,
            "pure": 0,
            "singer": [
              {
                "id": 14190,
                "mid": "003id60o21pS36",
                "name": "Boney M",
                "name_hilight": "Boney M"
              }
            ],
            "size128": 5689506,
            "size320": 14223397,
            "sizeape": 0,
            "sizeflac": 0,
            "sizeogg": 9050305,
            "songid": 2618959,
            "songmid": "003K3xIF0spb4A",
            "songname": "El Lute",
            "songname_hilight": "El Lute",
            "stream": 9,
            "switch": 636675,
            "t": 1,
            "tag": 10,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 674829,
            "albummid": "002jJjkl3km4oA",
            "albumname": "Sunny",
            "albumname_hilight": "<span class=\"c_tx_highlight\">Sunny</span>",
            "alertid": 11,
            "chinesesinger": 0,
            "docid": "13891584625794170708",
            "grp": [],
            "interval": 184,
            "isonly": 0,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 0,
            "nt": 899383212,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 0,
              "payinfo": 0,
              "payplay": 0,
              "paytrackmouth": 0,
              "paytrackprice": 0
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 1411401600,
            "pure": 0,
            "singer": [
              {
                "id": 208084,
                "mid": "002EzvWi1CdaRe",
                "name": "乌晓熙",
                "name_hilight": "乌晓熙"
              }
            ],
            "size128": 2957677,
            "size320": 7393522,
            "sizeape": 20742861,
            "sizeflac": 21059797,
            "sizeogg": 4158602,
            "songid": 7410244,
            "songmid": "002fkIZE1C0amO",
            "songname": "超神奇",
            "songname_hilight": "超神奇",
            "stream": 9,
            "switch": 3749687,
            "t": 1,
            "tag": 10,
            "type": 0,
            "ver": 0,
            "vid": ""
          },
          {
            "albumid": 1182783,
            "albummid": "003kwziv2oENAX",
            "albumname": "Sunny",
            "albumname_hilight": "<span class=\"c_tx_highlight\">Sunny</span>",
            "alertid": 11,
            "chinesesinger": 0,
            "docid": "15363993376701642671",
            "format": "qqnormal;common;mp3common;wmacommon;crcommon",
            "grp": [],
            "interval": 175,
            "isonly": 0,
            "lyric": "",
            "lyric_hilight": "",
            "msgid": 0,
            "nt": 2519177943,
            "pay": {
              "payalbum": 0,
              "payalbumprice": 0,
              "paydownload": 0,
              "payinfo": 0,
              "payplay": 0,
              "paytrackmouth": 0,
              "paytrackprice": 0
            },
            "preview": {
              "trybegin": 0,
              "tryend": 0,
              "trysize": 0
            },
            "pubtime": 1438272000,
            "pure": 0,
            "singer": [
              {
                "id": 161208,
                "mid": "001MrwOs2pBMEp",
                "name": "Reed Deming",
                "name_hilight": "Reed Deming"
              }
            ],
            "size128": 2802634,
            "size320": 0,
            "sizeape": 0,
            "sizeflac": 0,
            "sizeogg": 0,
            "songid": 104790918,
            "songmid": "003L0zo7039BQJ",
            "songname": "Sunny",
            "songname_hilight": "<span class=\"c_tx_highlight\">Sunny</span>",
            "songurl": "http://y.qq.com/#type=song&id=104790918",
            "stream": 3,
            "switch": 1128215,
            "t": 0,
            "tag": 10,
            "type": 0,
            "ver": 0,
            "vid": ""
          }
        ],
        "totalnum": 397
      },
      "totaltime": 0,
      "zhida": {
        "type": 0
      }
    },
    "message": "",
    "notice": "",
    "subcode": 0,
    "time": 1517743945,
    "tips": ""
  }
