<!DOCTYPE html>
<html>
  <head>
    <title>后台本地服务</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>后台本地服务</h1>
    <p><a href="http://localhost:3000/getSingerList">getSingerList</a></p>
    <p><a href="http://localhost:3000/getDiscList">getDiscList</a></p>
    <p><a href="http://localhost:3000/getSingerDetail">getSingerDetail</a></p>
  </body>
</html>
